[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[header]
  for = "/*"
    [header.values]
      X-Content-Type-Options = "nosniff"
